html, body {
  padding:0;
  margin:0;
  overflow:hidden;
}

body {
  text-align:center;
  background-color:rgb(77, 160, 228);
}

h1 {
  color:#fff;
  line-height:1rem;
  font-size:2rem;
}

.container {
  background-color:#ffffff;
  border: 1px solid black;
  height:80vh;
  overflow-y:scroll;
  margin:0 1rem;
  border-radius:8px;
}

#chat {
  padding:0;
  margin: 0 1rem 1rem 1rem;
  list-style: none;
}

#chat li {
  text-align:left;
  padding: 1rem 0 1rem 0;
  border-bottom:1px solid rgba(0, 0,0,0.2);
}

form {
  position:absolute;
  bottom:0;
  padding:0.5rem;
  background-color:#fff;
  width:100%;
  border: 1px solid black;
  box-shadow: 0 0 1rem black;
}

#message {
  padding:0 1rem;
  height:32px;
  width:80%;
}

#message.animated.shake {
  border-color:red;
  color:red;
}

#message:disabled{
  background-color:white;
}

#send {
  height:32px;
  border-radius: 0 10px 10px 0;
  color: rgb(77, 160, 228);
  border: 1px solid rgb(77, 160, 228);
}

#send:hover {
  transition: all 0.3s ease-out;
  background-color: rgb(77, 160, 228);
  color: #fff;
}

#send:active {
  background-color: darkblue;
}
