
html, body {
  /* Variables */
  --blueberry:#6B7A8F;
  --apricot:#F7882F;
  --citrus:#F7C331;
  --apple: #DCC7AA;

  padding:0;
  margin:0;
  overflow:hidden;
  font-family: 'Sniglet',cursive;
  color:var(--blueberry);
}

body {
  text-align:center;
  background-color: var(--citrus);
}

.container {
  background-color:#fff;
  box-shadow:0 0 5px var(--blueberry);
  height:85vh;
  overflow-y:scroll;
  border-radius:4px;
  margin:1rem;
}

::-webkit-scrollbar { 
  display: none; 
}

#chat {
  padding:0;
  margin: 0 1rem 1rem 1rem;
  list-style: none;
}

#chat li {
  text-align:left;
  padding: 1rem 0 1rem 0;
  border-bottom:1px solid rgba(0, 0,0,0.2);
}

form {
  position:absolute;
  display:grid;
  grid-template-columns: repeat(4,1fr) 5fr 48px 10px;
  grid-auto-rows: auto;
  grid-template-areas: 'logo . . . msg send .';
  grid-column-gap: 5px;
  align-items:center;
  justify-content: center;
  bottom:0;
  background-color:#fff;
  width:100%;
  box-shadow: 0 0 5px #000;
  padding:0.5rem;

}

#logo {
  grid-area: logo;
  font-weight:800;
  color: var(--apricot);
  font-size:32px;
  cursor:pointer;
}

#message {
  font-family:'sniglet';
  grid-area: msg;
  height:32px;
  padding: 0 8px;
  border-radius:4px 0 0 4px;
}

#message.animated.shake {
  border-color:red;
  color:red;
}

#message:disabled{
  background-color:white;
}

#send {
  transition: all 0.1s ease-out;
  font-family:'sniglet';
  grid-area: send;
  height:34px;
  border:none;
  border-radius: 0 10px 10px 0;
  color: #fff;
  background-color:var(--apricot);
  outline:none;
  border-bottom:5px solid orangered;
  cursor:pointer;
}

#send:active {
  transition: all 0.1s ease-out;
  color:rgb(190, 190, 190);
  background-color: orangered;
  border-bottom:2px solid orangered;

}
