
html, body {
  /* Variables */
  --blueberry:#6B7A8F;
  --apricot:#F7882F;
  --citrus:#F7C331;
  --apple: #DCC7AA;

  padding:0;
  margin:0;
  overflow:hidden;
  font-family: 'Sniglet',cursive;
}

body {
  text-align:center;
  background-color: var(--citrus);
}

.container {
  background-color:#fff;
  box-shadow:0 0 5px var(--blueberry);
  height:85vh;
  overflow-y:scroll;
  border-radius:4px;
  margin:1rem;
}

::-webkit-scrollbar { 
  display: none; 
}

#chat {
  padding:0;
  margin: 0 1rem 1rem 1rem;
  list-style: none;
}

#chat li {
  text-align:left;
  padding: 1rem 0 1rem 0;
  border-bottom:1px solid rgba(0, 0,0,0.2);
}

form {
  position:absolute;
  display:flex;
  align-items:center;
  justify-content: center;

  bottom:0;
  background-color:#fff;
  width:100%;
  border: 1px solid black;
  box-shadow: 0 0 1rem black;
  padding:0.5rem;

}

#logo {
  font-weight:800;
  color: var(--apricot);
}

#message {
  height:32px;
  width:50%;
  padding: 0 8px;
}

#message.animated.shake {
  border-color:red;
  color:red;
}

#message:disabled{
  background-color:white;
}

#send {
  height:32px;
  border-radius: 0 10px 10px 0;
  color: var(--apricot);
  border: 1px solid var(--apricot);
  cursor:pointer;
}

#send:hover {
  transition: all 0.3s ease-out;
  background-color: var(--apricot);
  color: #fff;
}

#send:active {
  background-color: darkblue;
}
